<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deliveryModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div
  class="modal fade"
  id="deliveryModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <center>
          <h5 class="modal-title" id="exampleModalScrollableTitle">
           <b> Delivery Bill</b>
          </h5>
        </center>
      </div>
      <div class="modal-body">
        <table id="deliveryTable" 
        data-toggle="table"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-columns="true"
        data-search="true"
        data-select-item-name="toolbar1"
        data-pagination="true"
        data-sort-name="name"
        data-sort-order="desc"
        class="table-hover">
          <thead class="thead-dark" style="background-color:black;">
            <tr>
                <th ><b style="color: white">#</th>
              <th data-sortable="true"><b style="color: white">Quantity</th>
              <th data-sortable="true"><b style="color: white">ProductName</th>
              <th data-sortable="true"><b style="color: white">Company</th>
              <th data-sortable="true"><b style="color: white">unit</th>
            </tr>
          </thead>
          <tbody style="background-color:white">
           
          </tbody>
        </table>
        
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<!-- ------------------------------------------------------------------- -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deliveryModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div
  class="modal fade"
  id="invoiceModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <center>
          <h5 class="modal-title" id="exampleModalScrollableTitle">
            <b> Invoice Bill</b>
          </h5>
        </center>
      </div>
      <div class="modal-body">
        <table id="invoiceTable"
        data-toggle="table"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-columns="true"
        data-search="true"
        data-select-item-name="toolbar1"
        data-pagination="true"
        data-sort-name="name"
        data-sort-order="desc"
        class="table-hover">
          <thead class="thead-dark" style="background-color:black;">
            <tr>
              <th ><b style="color: white">#</th>
              <th data-sortable="true"><b style="color: white">Quantity</th>
              <th data-sortable="true"><b style="color: white">ProductName</th>
              <th data-sortable="true"><b style="color: white">Company</th>
              <th data-sortable="true"><b style="color: white">Price</th>
              <th data-sortable="true"><b style="color: white">ProductTotal</th>
            </tr>
          </thead>
          <tbody style="background-color:white">
            <!-- <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
