<!-- <div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav slimscrollsidebar">
    <ul class="nav" id="side-menu">
      <div class="sidebar-head">
        <h3>
          <span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span>
          <span class="hide-menu">Navigation</span>
        </h3>
      </div>
      <li>
        <a href="/" class="waves-effect"
          ><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a
        >
      </li>
      <li>
        <a href="/profile" class="waves-effect"
          ><i class="fa fa-user fa-fw" aria-hidden="true"></i>Profile</a
        >
      </li>
      <li>
        <a href="/client" class="waves-effect"
          ><i class="fa fa-users fa-fw" aria-hidden="true"></i>Clients</a
        >
      </li>
      <li>
        <a href="/vendor" class="waves-effect"
          ><i class="fa fa-users fa-fw" aria-hidden="true"></i>Vendors</a
        >
      </li>
      <li>
        <a href="/stock" class="waves-effect"
          ><i class="fa fa-industry fa-fw" aria-hidden="true"></i>Stock</a
        >
      </li>
      <li>
        <a href="/addcredit" class="waves-effect"
          ><i class="fa fa-money fa-fw" aria-hidden="true"></i>Add Credit</a
        >
      </li>
      <li>
        <a href="/generatebill" class="waves-effect"
          ><i class="fa fa-table fa-fw" aria-hidden="true"></i>Generate Bill</a
        >
      </li>
      <li>
        <a href="/delivery_invoice" class="waves-effect"
          ><i class="fa fa-table fa-fw" aria-hidden="true"></i
          >Delivery/Invoice</a
        >
      </li>
      <li>
        <a href="/productsledger" class="waves-effect"
          ><i class="fa fa-table fa-fw" aria-hidden="true"></i>Products
          Ledger</a
        >
      </li>
      <li>
        <a href="/vendorsledger" class="waves-effect"
          ><i class="fa fa-table fa-fw" aria-hidden="true"></i>Vendors Ledger</a
        >
      </li>
      <li>
        <a href="/clientsledger" class="waves-effect"
          ><i class="fa fa-table fa-fw" aria-hidden="true"></i>Clients Ledger</a
        >
      </li>
    </ul>
  </div>
</div> -->
<div class="navbar-default sidebar nicescroll" role="navigation">
  <div class="sidebar-nav navbar-collapse ">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="ti-search"></i>
            </button>
          </span>
        </div>
      </li>
      <li>
        <a href="/" class="waves-effect"
          ><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a
        >
      </li>
      <li>
        <a href="/profile" class="waves-effect"
          ><i class="fa fa-user fa-fw" aria-hidden="true"></i>Profile</a
        >
      </li>
      <li>
        <a href="/client" class="waves-effect"
          ><i class="fa fa-users fa-fw" aria-hidden="true"></i>Clients</a
        >
      </li>
      <li>
        <a href="/vendor" class="waves-effect"
          ><i class="fa fa-users fa-fw" aria-hidden="true"></i>Vendors</a
        >
      </li>
      <li>
        <a href="/stock" class="waves-effect"
          ><i class="fa fa-industry fa-fw" aria-hidden="true"></i>Stock</a
        >
      </li>
      <li>
        <a href="/addcredit" class="waves-effect"
          ><i class="fa fa-money fa-fw" aria-hidden="true"></i>Add Credit</a
        >
      </li>
      <li>
        <a href="/adddebet" class="waves-effect"
          ><i class="fa fa-money fa-fw" aria-hidden="true"></i>Add Debet</a
        >
      </li>
      <li>
        <a href="/addexpenses" class="waves-effect"
          ><i class="fa fa-money fa-fw" aria-hidden="true"></i>Add Expenses</a
        >
      </li>
      <li>
        <a href="/generatebill" class="waves-effect"
          ><i class="fa fa-table fa-fw" aria-hidden="true"></i>Generate Bill</a
        >
      </li>
      <li>
        <a href="/delivery_invoice" class="waves-effect"
          ><i class="fa fa-table fa-fw" aria-hidden="true"></i
          >Delivery/Invoice</a
        >
      </li>
      <li>
        <a href="/productsledger" class="waves-effect"
          ><i class="fa fa-table fa-fw" aria-hidden="true"></i>Products
          Ledger</a
        >
      </li>
      <li>
        <a href="/vendorsledger" class="waves-effect"
          ><i class="fa fa-table fa-fw" aria-hidden="true"></i>Vendors Ledger</a
        >
      </li>
      <li>
        <a href="/clientsledger" class="waves-effect"
          ><i class="fa fa-table fa-fw" aria-hidden="true"></i>Clients Ledger</a
        >
      </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
